<div>
    <a routerLink="/OrderCreate" class="btn btn-sm btn-primary">Add order</a>
</div>
<div class="well">
    <h3>Filters:</h3>
    <div class="form-group">
        <label for="userName">Name of user</label>
        <select id="userName" class="form-control" [(ngModel)]="query.userFirstName" (change)="onFilterChange()">
            <option value="">No filter</option>
            <option *ngFor="let u of users" value="{{u.firstName}}">{{u.firstName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="carMake">Make of car</label>
        <select id="carMake" class="form-control" [(ngModel)]="query.carMake" (change)="onFilterChange()">
            <option value="">No filter</option>
            <option *ngFor="let c of cars" value="{{c.make}}">{{c.make}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="carModel">Model of car</label>
        <select id="carModel" class="form-control" [(ngModel)]="query.carModel" (change)="onFilterChange()">
            <option value="">No filter</option>
            <option *ngFor="let c of cars" value="{{c.model}}">{{c.model}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="startDate">Start date</label>
        <select id="startDate" class="form-control" [(ngModel)]="query.startDate" (change)="onFilterChange()">
            <option value="">No filter</option>
            <option *ngFor="let o of orders" value="{{o.startDate}}">{{o.startDate}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="finalDate">Final date</label>
        <select id="finalDate" class="form-control" [(ngModel)]="query.finalDate" (change)="onFilterChange()">
            <option value="">No filter</option>
            <option *ngFor="let o of orders" value="{{o.finalDate}}">{{o.finalDate}}</option>
        </select>
    </div>
    <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th (click)="sortBy('userLastName')">
                User's Last Name
                <i *ngIf="query.sortBy === 'userLastName'"
                   class="fa"
                   [class.fa-sort-asc]="query.isSortAscending"
                   [class.fa-sort-desc]="!query.isSortAscending">
                </i>
            </th>
            <th (click)="sortBy('userFirstName')">User's First Name</th>
            <th (click)="sortBy('carMake')">Car Make</th>
            <th (click)="sortBy('carModel')">Car Model</th>
            <th (click)="sortBy('carRegistrationNumber')">Car Registration number</th>
            <th (click)="sortBy('startDate')">Start date</th>
            <th (click)="sortBy('finalDate')">Final date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of viewOrders">
            <td>{{v?.userLastName}}</td>
            <td>{{v?.userFirstName}}</td>
            <td>{{v?.carMake}}</td>
            <td>{{v?.carModel}}</td>
            <td>{{v.carRegistrationNumber}}</td>
            <td>{{v?.startDate}}</td>
            <td>{{v?.finalDate}}</td>
            <td>
                <a [routerLink]="['/OrderEdit', v.id]" class="btn btn-sm btn-primary">Edit</a>
                <button (click)="delete(v.id)" class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
