<div>
    <a routerLink="/OrderCreate" class="btn btn-sm btn-primary">Add order</a>
</div>
<div class="well">
    <h3>Filters:</h3>
    <div class="form-group">
        <label for="userName">Name of user</label>
        <select id="userName" class="form-control" [(ngModel)]="filter.userFirstName" (change)="onFilterChange()">
            <option value="">No filter</option>
            <option *ngFor="let u of users" value="{{u.firstName}}">{{u.firstName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="carMake">Make of car</label>
        <select id="carMake" class="form-control" [(ngModel)]="filter.carMake" (change)="onFilterChange()">
            <option value="">No filter</option>
            <option *ngFor="let c of cars" value="{{c.make}}">{{c.make}}</option>
        </select>
    </div>
    <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Пользователь</td>
            <td>Автомобиль</td>
            <td>Дата начала проката</td>
            <td>Дата окончания проката</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of viewOrders">
            <td>{{v?.userLastName}} {{v?.userFirstName}}</td>
            <td>{{v?.carMake}} {{v?.carModel}}, {{v.carRegistrationNumber}}</td>
            <td>{{v?.startDate}}</td>
            <td>{{v?.finalDate}}</td>
            <td>
                <a [routerLink]="['/OrderEdit', v.id]" class="btn btn-sm btn-primary">Edit</a>
                <button (click)="delete(v.id)" class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
