<div>
    <h2>Car</h2>
    <form #f="ngForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label>Make</label>
            <input type="text" class="form-control" [(ngModel)]="car.make" name="make" required #make="ngModel" />
            <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the make.</div>
        </div>
        <div class="form-group">
            <label>Model</label>
            <input type="text" class="form-control" [(ngModel)]="car.model" name="model" required #model="ngModel" />
            <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify the model.</div>
        </div>
        <div class="form-group">
            <label>Class</label>
            <input type="text" class="form-control" [(ngModel)]="car.carClass" name="carClass" required #carClass="ngModel" />
            <div class="alert alert-danger" *ngIf="carClass.touched && !carClass.valid">Please specify the car class.</div>
        </div>
        <div class="form-group">
            <label>Year of issue</label>
            <input type="text" class="form-control" [(ngModel)]="car.yearOfIssue" name="yearOfIssue" required #yearOfIssue="ngModel" />
            <div class="alert alert-danger" *ngIf="yearOfIssue.touched && !yearOfIssue.valid">Please specify the year of issue.</div>
        </div>
        <div class="form-group">
            <label>Registration number</label>
            <input type="text" class="form-control" [(ngModel)]="car.registrationNumber" name="registrationNumber" required #registrationNumber="ngModel" />
            <div class="alert alert-danger" *ngIf="registrationNumber.touched && !registrationNumber.valid">Please specify the registration number.</div>
        </div>
        <div class="form-group">
            <input type="button" value="Save" (click)="save()" class="btn btn-success" [disabled]="!f.valid" />
            <a routerLink="/CarList" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>