<div>
    <a routerLink="/CarCreate" class="btn btn-sm btn-primary">Add car</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Make</td>
            <td>Model</td>
            <td>Class</td>
            <td>Year of issue</td>
            <td>Registration number</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cars">
            <td>{{c?.make}}</td>
            <td>{{c?.model}}</td>
            <td>{{c?.carClass}}</td>
            <td>{{c?.yearOfIssue}}</td>
            <td>{{c?.registrationNumber}}</td>
            <td>
                <a [routerLink]="['/CarEdit', c.id]" class="btn btn-sm btn-primary">Edit</a>
                <button (click)="delete(c.id)" class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
