<div>
    <a routerLink="/UserCreate" class="btn btn-sm btn-primary">Add new user</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Last name</td>
            <td>First name</td>
            <td>Date of Birth</td>
            <td>Driver's license number</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u?.lastName}}</td>
            <td>{{u?.firstName}}</td>
            <td>{{u?.birthDate}}</td>
            <td>{{u?.driveLicenseNumber}}</td>
            <td>
                <a [routerLink]="['/UserEdit', u.id]" class="btn btn-sm btn-primary">Edit</a>
                <button (click)="delete(u.id)" class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
